<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d   //如果所请求的文件未对应到相对于web根目录的某个文件使用重写规则
RewriteCond %{REQUEST_FILENAME} !-f //如果请求不存在的目录，使用重写规则
RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>